html {
    font-family: monospace, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

p {
    font-size: 20px;
}

header {
    text-align: center;
    font-size: 24px;
}

#spacer {
    height:150px;
}

#option-holder {
    display: flex;
    justify-content: space-around;
}

.option-div {
    text-align: center;
    height: 160px;
    width: 220px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#computer-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#computer-spacer {
    justify-content: center;
    margin: 50px;
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.half-page {
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}

.human-selectable:hover {
    border: 2px solid rgba(190, 137, 56, 0.4);
    box-shadow: 2px 2px 5px 5px rgba(214, 181, 132, 0.4);
}

.selected-div{
    border: 2px solid rgba(190, 137, 56, 0.4);
    box-shadow: 2px 2px 5px 5px rgba(214, 181, 132, 0.4);
}

#play-anchor {
    font-size: 24px;
    text-decoration: none;
    margin: 40px;
}